<!-- 
  This is a template file of dashboard page

  Author: Bo Tang
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- refresh the entire page every 5 seconds -->
    <!-- <meta http-equiv="refresh" content="5"> -->
    <title>Status</title>
    <!-- Load all stylesheets (overriden by the later ones) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Load all javascripts (overriden by the later ones) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/dash.js"></script>
  </head>
  <body>
    <div class="container">
      <table id="grid-basic" class="table table-condensed">
        <thead>
          <% const attrNameMap = {
              "id": "ID",
              "name": "Name",
              "cpu": "CPU",
              "memory": "Memory",
              "disk": "Disk",
              "response_delay": "Response Time",
              "http_statuscode": "Status Code",
              "apache_traffic": "Apache Traffic",
              "apache_load": "Apache Load",
              "mysql_load": "MySQL Load"
            } %>
          <% const columnAttrMap = {
              "ID": "id",
              "Name": "name",
              "Service Status": ["response_delay", "http_statuscode"],
              "Usage": ["cpu", "memory", "disk"],
              "Statistics": ["apache_traffic", "apache_load", "mysql_load"]
            } %>
          <tr>
            <% for (var i = 0; i < Object.keys(columnAttrMap).length; i++){ %>
              <th id="th-<%=Object.keys(columnAttrMap)[i].toLowerCase().split(' ').join('_')%>"><%= Object.keys(columnAttrMap)[i] %></th>
            <% } %>
            <th><!-- <button id="button-edit_targets" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#tabs_board">Edit Targets</button> --></th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < rows.length; i++){ %>
            <tr id="tr-<%=rows[i].id%>">
              <% for (var j = 0; j < Object.keys(columnAttrMap).length; j++){
                  var attrs = columnAttrMap[Object.keys(columnAttrMap)[j]];
                  if(Array.isArray(attrs)){ %>
                    <td id="td-<%=rows[i].id%>-<%= Object.keys(columnAttrMap)[j].toLowerCase().split(' ').join('_') %>">
                    <% for(var k = 0; k < attrs.length; k++){ 
                      if(attrs[k] in rows[i]){ %>
                      <%=attrNameMap[attrs[k]]%>:&nbsp;<text id="text-<%=rows[i].id%>-<%=attrs[k]%>" class="metric_value"><%= rows[i][attrs[k]] %></text><br />
                    <% }
                    } %>
                    </td>
                <% } else { %>
                    <td id="td-<%=rows[i].id%>-<%=attrs%>"><text id="text-<%=rows[i].id%>-<%=attrs%>"><%= rows[i][attrs] %></text></td>
                <% } %>
              <% } %>
              <td>
                <!-- <button type="button" id="button-edit_target" class="btn btn-outline-primary">Edit</button> -->
                <button type="button" id="btn-<%=rows[i].id%>-cmd" class="btn btn-outline-primary btn_manual_cmd">Manual Tests ></button>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <div id="tabs_board" class="container">
        <!-- Tab links -->
        <ul class="nav nav-tabs" id="tabs_hub" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="targetsjson-tab" data-toggle="tab" href="#targetsjson" role="tab" aria-controls="targetsjson" aria-selected="true">
              targets.json<!-- <button type="button" class="close" style="margin-left:10px">&times;</button> -->
            </a>
          </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="tabs_content">
          <div class="tab-pane fade show active" id="targetsjson" role="tabpanel" aria-labelledby="targetsjson-tab">
            <textarea id="ta-targetsjson" class="form-control col-xs-12"><%=JSON.stringify(targets, null, 4);%></textarea>
            <button id="btn-save-targets" type="button" class="btn btn-primary">Save</button>
            <button id="btn-reload-targets" type="button" class="btn btn-outline-primary">Reload</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>